<div class="twelve columns texts-wrap">
	<p>
		Luxembourg is border to the countries Belgium (B), Germany (D) and France (F).
	</p>
	<p>
		You can easily get to Luxembourg from the airport of:
	</p>
	<p>

		(F) Metz/Nancy – (40min from Luxembourg)
	</p>
	<p>

		(D) Frankfurt Hahn – (1h30 from Luxembourg)
	</p>
	<p>

		(D) Köln – (2h30 from Luxembourg)
	</p>
	<p>

		(B) Charleroi – (2h00 from Luxembourg)
	</p>
	<p>

		(B) Brussels – (2h30 from Luxembourg)
	</p>
	<p>

		We strongly advice you to use the <a target ="_blank" href="http://www.flibco.com"> Flibco </a>  website for easily finding 
	</p>
	<p>

		connection to Frankfurt Hahn, Köln and Charleroi by bus
	</p>
	<p>

		Or airport cities such as Brussels, Metz/Nancy we suggest you to take the train
	</p>
	<p>
		that will take you to the railway station of Luxembourg.
	</p>	

</div>