<div class="clearfix">
	<div class="one-thirds column alpha">
		<%= image_tag "/photos/hotel/novotel_1.jpeg" %>
	</div>
	<div class="one-thirds column omega">
		<%= image_tag "/photos/hotel/novotel_1.jpeg" %>
	</div>
</div>