
<div class="eleven columns texts-wrap">


    <!-- ========================================== --> 
    <!-- Start Content ============================ -->
    <!-- ========================================== -->   
    
    
	
    <h3 class="title">
    	Artists picture gallery
    </h3>
    
    
    
    <!-- Gallery -->
    <div id="gallery-1" class="gallery gallery-columns-4">
                  <% for artist in Artist.all %>  
                    <dl class="gallery-item">
                        <dt class="gallery-icon">
                            <a data-rel="prettyPhoto[gallery]" class="prettyPhoto" href="<%= artist.picture %>" title="<%= artist.name %>"><img width="150" height="150" src="<%= artist.picture %>" class="attachment-thumbnail" alt="<%= artist.name %>" /></a>
                        </dt><dd></dd>
                    </dl>
                   <% end %>
                    
                    
                    
                </div>
                 
    

    <!-- ======================================== --> 
<!-- End Content ============================ -->
<!-- ======================================== -->       
        
</div>	




<div class="five columns blog-sidebar">


    <!-- ======================================== --> 
    <!-- Start Right Sidebar ==================== -->
    <!-- ======================================== -->   
    
    <!-- Youtube Video Widget -->
    <div class="widget">

        <div class="embed">
        	<iframe src="http://www.youtube.com/embed/-1clJbhtPJ4"></iframe>
        </div>
        
    </div>
    
    <!-- Youtube Video Widget -->
    <div class="widget">

        <div class="embed">
        	<iframe src="http://www.youtube.com/embed/qANZrq7UbjE?rel=0"></iframe>
        </div>
        
    </div>
    
  
    

    <!-- ======================================== --> 
    <!-- End Right Sidebar ====================== -->
    <!-- ======================================== -->       
        
</div>
